target/
bin/
src/main/resources/Drivers/chromedriver
.DS_Store
*.class
.DS_Store?
/src/main/resources/Reports/**
!/src/main/resources/Reports/**/
!/src/main/resources/Reports/**/.gitkeep
.project
.classpath
.settings/