{{#multiIterationMaps}}
{{#CurrentIteration}}
    <div class="card bg-light">
        <div class="card-header font-weight-bold">Current Iteration - {{{CurrentIteration}}}</div>
    </div>
{{/CurrentIteration}}
    {{>StepsPartial.mustache}}
{{/multiIterationMaps}}