<table class="table table-hover table-bordered table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Test Case</th>
        {{#headerLabel}}
            <th scope="col">{{.}}</th>
        {{/headerLabel}}
        <th scope="col">Test Result</th>
      </tr>
    </thead>
    <tbody>
      {{#tests}}
          <tr class="table-active">
            <th scope="row">{{slNo}}</th>
            <td><a href="{{{summaryRptLink}}}" target="_blank">{{{name}}}</a></td>
            <td>{{customColumnVal}}</td>
            <td>
            {{#testPassed}}
              PASSED
            {{/testPassed}}
            {{^testPassed}}
              FAILED
            {{/testPassed}}
            </td>
          </tr>
      {{/tests}}
    </tbody>
  </table>