<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>Test Report Multi Config</title>
</head>

<body>

  {{#testObject}}
   
      
    <div class="card bg-light">
    	<div class="card-header font-weight-bold" style="text-align:center;background-color:gray">Test Execution Report</div>
  	</div>
      <div class="card-body" style="padding:0">
      <div class="card bg-light">
    	<div class="card-header font-weight-bold">Overall Execution Details</div>
    	<div class="card-body" style="padding:0">
    </div>
        <div class="container-fluid">
         {{#reportHeadings}}
        <div class="row">
         <div class="col-sm-3" style="background-color:#212529;color:white;font-weight:500">
          {{label}}
        </div>
        <div class="col-sm-9" style="background-color:gray;color:black;font-weight:500">
          {{{value}}}
        </div>
        </div>
        {{/reportHeadings}}
      </div>
    </div>

    {{#configTests}}
        {{#subHeading}}
          <div class="card bg-light" style="text-align:center;">
            <div class="card-header font-weight-bold"><span>{{{ReportLabel}}} - </span>{{{ReportValue}}}</div>
          </div>
          {{/subHeading}}
          {{#test}}
            <div class="card bg-light">
              <div class="card-header font-weight-bold" style="background-color:#d6d8db">Test Details</div>
              <div class="card-body" style="padding:0">
                <div class="container-fluid">
                {{#props}}
                <div class="row">
                 <div class="col-sm-3" style="background-color:#212529;color:white;font-weight:500">
		          {{label}}
		        </div>
		        <div class="col-sm-9" style="background-color:gray;color:black;font-weight:500">
		          {{{value}}}
		        </div>
                </div>
                {{/props}}
              </div>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-header font-weight-bold">Step Details</div>
          </div>
          {{#isMultiIteration}}
            {{>MultiIterationPartial.mustache}}
          {{/isMultiIteration}}
          {{^isMultiIteration}}
            {{>StepsPartial.mustache}}
          {{/isMultiIteration}}
        {{/test}}
    {{/configTests}}
  {{/testObject}}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>