<table class="table table-hover table-bordered table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Actual Result</th>
        <th scope="col">Step Result</th>
      </tr>
    </thead>
    <tbody>
      {{#steps}}
      {{#stepPassed}}
      <tr class="table-primary" style="color:black;">
        <th scope="row">{{stepNo}}</th>
        <td>{{{desc}}}</td>
        <td>{{{actualResult}}}</td>
        <td>
        {{^screenShotPath}}
          <strong>PASS</strong>
        {{/screenShotPath}}
        {{#screenShotPath}}
          <a href="{{{screenShotPath}}}" target="_blank">PASS</a>
        {{/screenShotPath}}
        </td>
      </tr>
      {{/stepPassed}}
      {{#stepFailed}}
      <tr class="table-danger" style="color:black;">
        <th scope="row">{{stepNo}}</th>
        <td>{{{desc}}}</td>
        <td>{{{actualResult}}}</td>
        <td>
         {{^screenShotPath}}
          <strong>FAIL</strong>
        {{/screenShotPath}}
        {{#screenShotPath}}
          <a href="{{{screenShotPath}}}" target="_blank">FAIL</a>
        {{/screenShotPath}}
        </td>
      </tr>
      {{/stepFailed}}
      {{#stepWithWarning}}
      <tr class="table-warning" style="color:black;">
        <th scope="row">{{stepNo}}</th>
        <td>{{{desc}}}</td>
        <td>{{{actualResult}}}</td>
        <td>
        {{^screenShotPath}}
          <strong>WARNING</strong>
        {{/screenShotPath}}
        {{#screenShotPath}}
          <a href="{{{screenShotPath}}}" target="_blank">WARNING</a>
        {{/screenShotPath}}
        </td>
      </tr>
      {{/stepWithWarning}}
      {{/steps}}
    </tbody>
  </table>