<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Test Case</th>
        {{#headerLabels}}
            <th scope="col">{{.}}</th>
        {{/headerLabels}}
        <th scope="col">Test Result</th>
        <th scope="col">Execution Time</th>
      </tr>
    </thead>
    <tbody>
      {{#tests}}
      <tr class="table-warning">
        <th scope="row">{{slNo}}</th>
        <td><a href="{{{summaryRptLink}}}" target="_blank">{{{name}}}</a></td>
         {{#summaryProps}}
             <td>{{value}}</td>
        {{/summaryProps}}
        <td>{{{overAllStatus}}}</td>
        <td>{{{executionTime}}}</td>
      </tr>
      {{/tests}}
    </tbody>
  </table>